<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q-mx-sm">La Abeja</h4>
  </div>

  <!--------------------- Section 1 ---------------------------------------->
  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md q-my-sm">
        <q-card-section class="text-body1">
          <p>
            La <span class="text-weight-bold">abeja reina</span> es una de las
            tres castas que tienen las abejas melíferas. Es la única hembra
            fértil que pone huevos fecundados que dan origen a abejas obreras
            infértiles y pone huevos no fecundados que dan origen a zánganos
            fértiles, por un mecanismo denominado partenogénesis.
          </p>
          <p>
            La abeja reina es el corazón y el alma de la colmena. Es una líder
            poderosa y sabia que guía a su colonia con determinación y amor. Su
            presencia irradia majestuosidad y respeto entre todas las abejas y
            los insectos guardianes que la rodean.
          </p>
          <p>
            La abeja reina comienza a desovar en primavera. Esto es
            probablemente activado por las floraciones de las que liberan el
            néctar, abundantes ya en esta época.
          </p>
          <p>
            La abeja reina no abandona la colmena, salvo durante los vuelos de
            fecundación, o cuando se produce un enjambre para dar lugar a una
            nueva colonia.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-mx-md q-my-sm">
        <q-img src="/images/queen-sm.jpg" alt="Abeja Reina"></q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 -------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <h4 class="text-center q-my-xl">¿Y cómo se mueve la Abeja Reina?</h4>
  </q-banner>

  <!-------------------------------- Section 3 --------------------------------------->

  <div class="row flex-center q-my-lg">
    <div>
      <q-card class="move-card">
        <q-card-section class="text-center">
          <div class="text-h5">Reglas de Movimiento</div>
          <div class="text-subtitle1">La Abeja</div>
        </q-card-section>

        <q-card-section class="text-body1">
          <p>
            La Abeja Reina puede mover únicamente un espacio por turno. Aunque
            sus desplazamientos son algo restringidos, con un simple movimiento
            en el momento adecuado puedes alterar de manera significativa los
            planes del oponente.
          </p>
        </q-card-section>

        <q-img
          src="/images/hexabee-move-queen.png"
          alt="Movimiento de la abeja reina"
        ></q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "AbejaPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
  font-size: larger

.move-card
  width: 100%
  max-width: 550px

.header
  max-height: 300px
  height: 300px
  background-image: url(/bg/bee-background1.jpeg)
  background-size: cover
  background-color: #517DC9
  background-blend-mode: multiply
  color: #fff
</style>
