<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q-mx-sm">La Araña</h4>
  </div>

  <!--------------------- Section 1 ---------------------------------------->

  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md q-my-sm">
        <q-card-section class="text-body1">
          <p>
            Las arañas son el orden más numeroso de la clase Arachnida,
            lejanamente emparentadas con otros grupos de artrópodos, como los
            insectos.
          </p>
          <p>
            Producen seda, con la que tejen telas de araña o telarañas, que usan
            para construir redes de caza, tapizar refugios e incluso hacerse
            llevar por el viento.
          </p>
          <p>
            La araña guardiana es una criatura sigilosa y astuta. Sus múltiples
            patas peludas y su habilidad para tejer telarañas le otorgan una
            ventaja estratégica en la protección de la abeja reina y la colmena.
          </p>
          <p>
            La araña guardiana es consciente de su entorno y está siempre
            alerta. Percibe las vibraciones en el aire y las sutilezas de los
            movimientos, lo que le permite detectar la presencia de enemigos
            potenciales. Cuando un insecto rival se acerca, la araña despliega
            rápidamente su red, atrapando a su presa y manteniéndola bajo
            control hasta que sea neutralizada.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-mx-md q-my-sm">
        <q-img src="/images/arana-sm.jpg" alt="Araña"></q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 -------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <h4 class="text-center q-my-xl">¿Y cómo se mueve la Araña?</h4>
  </q-banner>

  <!-------------------------------- Section 3 --------------------------------------->

  <div class="row flex-center q-my-lg">
    <div>
      <q-card class="move-card">
        <q-card-section class="text-center">
          <div class="text-h5">Reglas de Movimiento</div>
          <div class="text-subtitle1">La Araña</div>
        </q-card-section>

        <q-card-section class="text-body1">
          <p>
            La Araña se puede mover tres espacios cada turno, ni más ni menos.
            Se debe mover siempre en el mismo sentido y no puede retroceder en
            el mismo turno.
          </p>
          <p>
            Sólo se puede mover tocando piezas que se encuentren en contacto
            directo en su camino, por lo cual no puede hacer movimientos en
            espacios vacíos.
          </p>
        </q-card-section>

        <q-img
          src="/images/hexabee-move-spider.png"
          alt="Movimiento de la Araña"
        ></q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "AranaPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
  font-size: larger

.move-card
  width: 100%
  max-width: 550px

.header
  max-height: 300px
  height: 300px
  background-image: url(/bg/spider-background.jpeg)
  background-size: cover
  background-color: #517DC9
  background-blend-mode: multiply
  color: #fff
</style>
