<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q.mx-sm">El Escarabajo</h4>
  </div>

  <!--------------------- Section 1 ---------------------------------------->

  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md q-my-sm">
        <q-card-section class="text-body1">
          <p>
            Se trata de un tipo de insectos del orden de los
            <span class="text-weight-bold">coleópteros</span> del cual existen
            unas 375.000 especies descritas hasta el momento. Los escarabajos
            experimentan una transformación o metamorfosis completa desde su
            estado larvario a la etapa adulta. Presentan una enorme diversidad
            morfológica y ocupan virtualmente cualquier hábitat.
          </p>
          <p>
            Uno de los rastros más antiguos de este tipo de animales proviene
            del periodo Pérmico, es decir de hace unos 280 millones de años.
          </p>
          <p>
            El escarabajo guardián es una criatura fuerte y resistente. Su
            caparazón duro y robusto lo protege de los ataques enemigos. Sus
            patas son fuertes y ágiles, lo que le permite moverse con rapidez y
            precisión.
          </p>
          <p>
            Este intrépido escarabajo se coloca estratégicamente alrededor de la
            abeja reina y de la colmena, formando una barrera defensiva. Su
            presencia imponente disuade a cualquier intruso de acercarse
            demasiado.
          </p>
          <p>
            Este insecto guardián es un símbolo de fortaleza y protección. Su
            dedicación y determinación son clave para mantener a salvo a la
            abeja reina y a toda la colonia. Sin el escarabajo guardián, el
            equilibrio y la seguridad de la colmena estarían en peligro.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-mx-md q-my-sm">
        <q-img src="/images/beetle-sm.jpg" alt="Escarabajo"></q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 -------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <h4 class="text-center q-my-xl">¿Y cómo se mueve el Escarabajo?</h4>
  </q-banner>

  <!-------------------------------- Section 3 --------------------------------------->

  <div class="row flex-center q-my-lg">
    <div>
      <q-card class="move-card">
        <q-card-section class="text-center">
          <div class="text-h5">Reglas de Movimiento</div>
          <div class="text-subtitle1">El Escarabajo</div>
        </q-card-section>

        <q-card-section class="text-body1">
          <p>
            Sólo puede mover un espacio por turno, con la particularidad de
            poder moverse por encima de la colmena, bloqueando a cualquier pieza
            sobre la que se encuentre.
          </p>
          <p>
            La única manera de bloquear a un escarabajo que se encuentra encima
            de la colmena es colocando otro escarabajo encima de éste. Puede
            darse el caso de que queden los cuatro escarabajos apilados uno
            encima del otro.
          </p>
        </q-card-section>

        <q-img
          src="/images/hexabee-move-bettle.png"
          alt="Movimiento del escarabajo"
        ></q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "EscarabajoPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
  font-size: larger

.move-card
  width: 100%
  max-width: 550px

.header
  max-height: 300px
  height: 300px
  background-image: url(/bg/beetle-background.jpeg)
  background-size: cover
  background-color: #517DC9
  background-blend-mode: multiply
  color: #fff
</style>
