<template>
  <q-page>
    <!--------------------- Section 1 ----------------------------->
    <div class="row q-mt-lg">
      <div class="col-12 col-md-6 container-1">
        <q-card class="q-ma-md q-px-lg card-1">
          <q-card-section>
            <h4 class="text-bold">El Hexágono</h4>

            <p class="text-body1">
              En geometría plana elemental, un hexágono es un polígono de seis
              lados y seis vértices. La palabra "hexágono" proviene del griego
              "hexa", que significa "seis", y "gonia", que significa "ángulo".
            </p>
          </q-card-section>

          <q-card-section>
            <h6>Propiedades</h6>
            <p class="text-body1">Un hexágono tiene:</p>
            <ul class="text-body1">
              <li>6 vértices y lados</li>
              <li>9 diagonales</li>
              <li>
                La suma de los ángulos internos de un hexágono es 720 grados
              </li>
            </ul>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-12 col-md-6 flex flex-center">
        <q-img
          src="images/hexagono.png"
          alt="Hexagono"
          spinner-color="blue"
          width="500px"
        ></q-img>
      </div>
    </div>

    <!-------------------- Section 2 ------------------------------------>

    <div class="row q-mt-xl">
      <div class="col-12 col-md-6 container-1">
        <q-card class="q-mx-md q-mt-xl q-px-lg card-1">
          <q-card-section>
            <h4 class="text-bold">El Hexágono Regular</h4>

            <p class="text-body1">
              El hexágono regular es un polígono convexo con seis lados iguales
              y seis ángulos iguales, siempre dividido en triángulos simétricos
              o asimétricos.
            </p>
          </q-card-section>

          <q-card-section>
            <p class="text-body1">
              El hexágono regular tiene las siguientes propiedades:
            </p>
            <ul class="text-body1">
              <li>Sus ángulos internos son congruentes midiendo 120°</li>
              <li>Cada ángulo externo del hexágono regular mide 60°</li>
              <li>
                Está íntimamente relacionado con los triángulos equiláteros:
              </li>
              <ul class="text-body1">
                <li>
                  Uniendo cada vértice con su opuesto, el hexágono regular queda
                  dividido en seis triángulos equiláteros.
                </li>
                <li>
                  Numérense los vértices de 1 a 6 en el sentido horario. Uniendo
                  los vértices impares se obtiene un triángulo equilátero;
                  uniendo los vértices pares se obtiene otro.
                </li>
              </ul>
            </ul>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-12 col-md-6 flex flex-center q-mt-xl">
        <q-img
          src="images/hexagono-regular.png"
          alt="Hexagono"
          spinner-color="blue"
          width="500px"
        ></q-img>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "HexagonoPage",
});
</script>

<style lang="sass" scoped>
.card-1
  max-width: 650px
  min-width: 150px

.container-1
  display: flex
  flex-direction: row
  justify-content: center // Centra el contenido en el eje horizontal
  align-items: center // Centra el contenido en el eje vertical

@media screen and (min-width: 1024px)  // Regla para pantallas con un ancho mínimo de 768px
  .container-1
    justify-content: flex-end // Justifica el contenido a la derecha
</style>
