<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q-mx-sm">La Hormiga</h4>
  </div>

  <!--------------------- Section 1 ---------------------------------------->

  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md q-my-sm">
        <q-card-section class="text-body1">
          <p>
            Las hormigas (Formicidae) son una familia de insectos eusociales
            que, como las avispas y las abejas, pertenecen al orden de los
            himenópteros.
          </p>
          <p>
            Las hormigas evolucionaron de antepasados similares a una avispa a
            mediados del Cretáceo, hace entre ciento diez y ciento treinta
            millones de años, diversificándose tras la expansión de las plantas
            con flor por el mundo.
          </p>
          <p>
            Forman colonias u hormigueros de un tamaño que se extiende desde
            unas docenas de individuos predadores que viven en pequeñas
            cavidades naturales, a colonias muy organizadas que pueden ocupar
            grandes territorios compuestas por millones de individuos.
          </p>

          <p>
            Prosperan en la mayor parte de los ecosistemas y se calcula que
            pueden formar el 15-25 % de la biomasa de los animales terrestres.
          </p>
          <p>
            Sus sociedades se caracterizan por la división del trabajo, la
            comunicación entre individuos y la capacidad de resolver problemas
            complejos.
          </p>
          <p>
            La hormiga soldado es una pequeña pero valiente guerrera. A pesar de
            su tamaño, su fuerza y determinación son impresionantes. Su cuerpo
            robusto y sus mandíbulas poderosas son su mayor arma en la
            protección de la abeja reina y la colonia.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-mx-md q-my-sm">
        <q-img src="/images/hormiga-sm.jpg" alt="Hormiga"></q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 -------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <h4 class="text-center q-my-xl">¿Y cómo se mueve la Hormiga?</h4>
  </q-banner>

  <!-------------------------------- Section 3 --------------------------------------->

  <div class="row flex-center q-my-lg">
    <div>
      <q-card class="move-card">
        <q-card-section class="text-center">
          <div class="text-h5">Reglas de Movimiento</div>
          <div class="text-subtitle1">La Hormiga</div>
        </q-card-section>

        <q-card-section class="text-body1">
          <p>
            La Hormiga Soldado puede moverse desde su posición a cualquier
            posición rodeando la colmena, independientemente del número de
            espacios que avance.
          </p>
          <p>
            Es precisamente esta libertad de movimiento que tiene la Hormiga
            Soldado lo que hace que sea una de las piezas más valiosas de la
            colmena.
          </p>
        </q-card-section>

        <q-img
          src="/images/hexabee-move-ant.png"
          alt="Movimiento de la Hormiga"
        ></q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "HormigaPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
  font-size: larger

.move-card
  width: 100%
  max-width: 550px

.header
  max-height: 300px
  height: 300px
  background-image: url(/bg/ant-background.jpeg)
  background-size: cover
  background-color: #517DC9
  background-blend-mode: multiply
  color: #fff
</style>
