<template>
  <q-page>
    <div class="q-px-md q-mt-lg">
      <div class="row justify-center items-center">
        <div class="col-12 col-md-8 flex flex-center q-mt-sm">
          <q-card class="no-box-shadow" :hidden="$q.screen.lt.sm">
            <img
              alt="Hexabee logo"
              src="/images/hexabee-2.png"
              spinner-color="blue"
              ratio="4 / 3"
              fit="contain"
            />
          </q-card>
          <q-card class="no-box-shadow" :hidden="$q.screen.gt.xs">
            <img
              alt="Hexabee logo"
              src="/images/Hexa-logo-6.png"
              spinner-color="blue"
              fit="contain"
            />
          </q-card>
        </div>
      </div>

      <div class="row justify-center items-center">
        <div class="col-12 col-md-6">
          <q-card class="q-ma-sm q-pa-md">
            <q-card-section>
              <h3 class="text-center text-h4">Jugando a Hexabee</h3>
              <h4 class="text-h5 text-center">
                Estrategia y Diversión en un Juego Fascinante
              </h4>
            </q-card-section>
            <q-separator inset />
            <q-card-section>
              <p class="q-pa-sm text-body1">
                ¡Bienvenidos al apasionante mundo de Hexabee! Quiero compartir
                con ustedes la emoción que se experimenta al jugarlo. Hexabee es
                un juego único en su tipo, donde cada partida es una experiencia
                completamente nueva y llena de desafíos y estrategias.
                Exploraremos las razones por las cuales Hexabee se ha convertido
                en un juego tan adictivo y fascinante para jugadores de todas
                las edades.
              </p>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
});
</script>

<style lang="sass" scoped>
.my-img
  min-height: 200px
  min-width: 350px
</style>
