<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q-mx-sm">Reglas de juego</h4>
  </div>

  <!------------------------- Section 1 --------------------------------->

  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-ma-md">
        <q-img
          src="/images/abejas-hexagono-sm.jpg"
          alt="Abejas en colmena"
          height="250px"
        ></q-img>

        <q-card-section class="text-body1">
          <p>
            <span class="text-weight-bold">Había una vez</span>
            un enjambre de abejas que habitaba en un tranquilo bosque. Estas
            vivían en armonía, recolectando néctar y polen para su colmena,
            lideradas por su valiente reina.
          </p>
          <p>
            Sin embargo, un día, una intrépida abeja exploradora descubrió que
            un enjambre rival había invadido su territorio.
          </p>
          <p>
            El peligro acechaba. Las abejas se reunieron en consejo y decidieron
            que era hora de luchar por su hogar. El maravilloso bosque que a
            todos alimentaba y deslumbraba con su belleza necesitaba que todos
            se unieran para su defensa.
          </p>
          <p>
            Las abejas debían aprovechar las características especiales de cada
            uno de los
            <span class="text-weight-bold">insectos guardianes</span> para
            defender a su amada reina y ganar el tiempo necesario para rodear y
            hacer caer a la abeja reina del enjambre rival.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-ma-md">
        <q-img
          src="/images/paisaje-flores-1-1024x683.jpg"
          alt="Bosque de Flores"
        >
        </q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 --------------------------------->

  <div class="row q-my-lg q-mx-md">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md">
        <q-card-section class="text-body1">
          <p>
            Hexabee un juego abstracto para <span class="text-weight-bold">dos jugadores</span>
            de esos que tanto nos
            gusta, inspirado en el ajedrez.
          </p>
          <p>
            Y como en él, cada jugador controlará las fichas de un color y éstas
            representarán su peculiar ejército, donde cambiarás a los clásicos
            peones, torres, caballos, alfiles, reina y rey por hormigas, arañas,
            saltamontes, escarabajos y una ágil aunque extremadamente vulnerable
            <span class="text-weight-bold">abeja reina</span>.
          </p>
          <p>
            Y, como en el ajedrez, cada figura tendrá unas reglas de movimiento
            diferente y ganará aquel que haga caer la ficha más importante del
            rival, aquí la reina.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <q-card class="q-mx-md">
        <q-card-section class="text-body1">
          <p>
            Lo que hace a Hexabee un juego diferente y original es que no hay
            tablero. Éste lo irán conformando las propias fichas que cada
            jugador irá desplegando desde su reserva.
          </p>
          <p>
            Mientras que en ajedrez, cada pieza siempre empieza en el mismo
            lugar y cada ejército en un extremo del tablero, aquí ambos bandos
            comienzan el enfrentamiento en contacto desde el turno 1 y cada
            jugador irá haciendo entrar en juego a sus insectos en el orden que
            crea más conveniente, según se haya desarrollado la partida hasta el
            momento.
          </p>
          <p>
            Todo esto hace de Hive un juego muy reactivo, con muchas
            posibilidades y de partidas ágiles y entretenidas desde el comienzo.
          </p>
        </q-card-section>
      </q-card>
    </div>
  </div>

  <!------------------------------ Section 3 ----------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <div class="q-my-xl">
      <h5 class="text-center">Lo que hace a Hexabee un juego diferente y original es que 
        <span class="text-weight-bold">no hay tablero</span>.
      </h5>
    </div>
    
  </q-banner>

  <!-------------------------- Section 4 ----------------------------------->

  <div class="row q-my-lg q-mx-md">
    <div class="col-12 col-md-4">
      <q-card class="q-mx-md">
        <q-img
          src="/images/hexabee-fichas-amarilla.png"
          alt="Tipos de fichas"
          fit:
        ></q-img>
        <q-card-section class="text-body1">
          <p>
            Cada jugador empieza con una reserva de <span class="text-weight-bold">11 piezas 
            hexagonales</span> de un color, cada una de las cuales representa un insecto.
          </p>
          <p>
            En total serán 3 saltamontes, 3 hormigas, 2 escarabajos, 2 arañas y
            una reina.
          </p>
          <p>
            En el primer turno cada jugador colocará una de sus piezas, la que
            quiera, en el centro del tablero, en contacto con la de su oponente.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-4">
      <q-card class="q-mx-md">
        <q-img
          src="/images/hexabee-gano.png"
          alt="Reina rodeada"
        ></q-img>
        <q-card-section class="text-body1">
          <p>
            Por turnos se podrá hacer una de dos acciones posibles: poner en
            juego una nueva pieza o mover una colocada anteriormente.
          </p>
          <p>
            Existen algunas restricciones: <span class="text-italic">la reina ha de ser puesta en juego en
              los cuatro primeros turnos</span> y un jugador no podrá mover ninguna pieza
            hasta que su reina esté en la colmena.
          </p>
          <p>
            <span class="text-weight-bold">Ganará aquel que logre rodear completamente a la reina rival</span>, sin
            importar el color de las piezas que la rodeen.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-4">
      <q-card class="q-mx-md">
        <q-card-section class="text-body1">
            <q-img
          src="/images/hexabee-no.png"
          alt="Movimiento no permitido"
        ></q-img>
          <p>
            Sólo podrás desplegar piezas en contacto con piezas propias. Todas
            las fichas tendrán que estar en contacto entre sí, formando una
            única colmena.
          </p>
          <p>
            Es decir, sólo podrás mover fichas que al ser movidas <span class="text-weight-bold">no dividan el
            tablero en dos</span>. Lo que hace que existan piezas que estén libres,
            habitualmente las que están en las zonas exteriores del tablero, y
            otras que estén bloqueadas.
          </p>
          <p>
            Esto es muy importante y deberás utilizarlo en tu beneficio,
            intentando mantener tus piezas clave libres alrededor de la colmena
            y bloqueando piezas del rival, inutilizándolas al menos
            temporalmente.
          </p>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "ReglasPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
    font-size: larger

.header
    max-height: 300px
    height: 300px
    background-image: url(/bg/boardgame.jpeg)
    background-size: cover
    background-color: #517DC9
    background-blend-mode: multiply
    color: #fff

</style>
