<template>
  <!----------------- Header --------------------------->
  <div class="row justify-center header">
    <h4 class="q-mx-sm">El Saltamontes</h4>
  </div>

  <!--------------------- Section 1 ---------------------------------------->

  <div class="row">
    <div class="col-12 col-md-6">
      <q-card class="q-mx-md q-my-sm">
        <q-card-section class="text-body1">
          <p>
            Los Caelíferos son un suborden del orden Orthoptera, comúnmente
            conocidos como saltamontes, chapulines, langostas, charates, burras,
            sanagustines.
          </p>

          <p>
            Las patas traseras son típicamente largas y fuertes, apropiadas para
            saltar. Tienen dos pares de alas, solo las traseras son membranosas
            y les permiten volar.
          </p>

          <p>
            El saltamontes es un insecto ágil y veloz. Sus largas patas le
            permiten realizar saltos sorprendentes, superando obstáculos y
            moviéndose con rapidez a través del enjambre. Su cuerpo delgado y
            ligero le facilita maniobrar con destreza entre los insectos
            rivales.
          </p>

          <p>
            El saltamontes es un insecto guardián ágil y estratégico. Su
            capacidad para sorprender y distraer al enjambre rival es esencial
            para la protección de la abeja reina y la colonia. Con sus saltos
            rápidos y movimientos astutos, el saltamontes contribuye al éxito en
            la batalla, asegurando que el tiempo necesario sea ganado para
            rodear y hacer caer a la abeja reina del enjambre rival.
          </p>
        </q-card-section>
      </q-card>
    </div>

    <div class="col-12 col-md-6">
      <div class="q-mx-md q-my-sm">
        <q-img src="/images/grasshopper-sm.jpg" alt="Saltamontes"></q-img>
      </div>
    </div>
  </div>

  <!------------------------- Section 2 -------------------------------------->

  <q-banner class="bg-primary text-white q-my-xl">
    <h4 class="text-center q-my-xl">¿Y cómo se mueve el Saltamontes?</h4>
  </q-banner>

  <!-------------------------------- Section 3 --------------------------------------->

  <div class="row flex-center q-my-lg">
    <div>
      <q-card class="move-card">
        <q-card-section class="text-center">
          <div class="text-h5">Reglas de Movimiento</div>
          <div class="text-subtitle1">El Saltamontes</div>
        </q-card-section>

        <q-card-section class="text-body1">
          <p>
            El Saltamontes no se mueve alrededor de la colmena como los demás,
            sino que salta cualquier número de piezas hasta encontrar una nueva
            posición en la que caer, siguiendo una línea recta de piezas
            conectadas. Eso sí, no puede saltar por encima de huecos.
          </p>
        </q-card-section>

        <q-img
          src="/images/hexabee-move-grasshopper.png"
          alt="Movimiento del Saltamontes"
        ></q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "SaltamontesPage",
});
</script>

<style lang="sass" scoped>
.text-weight-bold
  font-size: larger

.move-card
  width: 100%
  max-width: 550px

.header
  max-height: 300px
  height: 300px
  background-image: url(/bg/grasshopper-background.jpeg)
  background-size: cover
  background-color: #517DC9
  background-blend-mode: multiply
  color: #fff
</style>
