<template>
  <q-layout view="hHh lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="hive"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-btn flat no-caps to="/" size="lg">HEXA bee</q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" overlay bordered :width="210">
      <q-list>
        <q-item-label header> Menu Lateral </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";

const linksList = [
  {
    title: "El Hexágono",
    caption: "Matemáticas",
    icon: "hexagon",
    link: "/hexagono",
  },
  {
    title: "Las Reglas",
    caption: "Estrategia",
    icon: "density_small",
    link: "/reglas",
  },
  {
    title: "La Abeja",
    caption: "Reina",
    icon: "img:/icons/bee.svg",
    link: "/abeja",
  },
  {
    title: "El Escarabajo",
    caption: "Fuerza y Resistencia",
    icon: "img:/icons/beetle.svg",
    link: "/escarabajo",
  },
  {
    title: "El Saltamontes",
    caption: "Ágil y veloz",
    icon: "img:/icons/grasshopper.svg",
    link: "/saltamontes",
  },
  {
    title: "La Araña",
    caption: "Sigilosa y astuta",
    icon: "img:/icons/spider-1.svg",
    link: "/arana",
  },
  {
    title: "La hormiga",
    caption: "Valiente guerrera",
    icon: "img:/icons/ant.svg",
    link: "/hormiga",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
